.App {
  display: flex;
  flex-direction: column;
  font-family: 'Mulish', sans-serif;
  padding: 20px;
  align-items: center;
}

h1, h2 {
  color: #335c6e;
}

p {
  color: #28B8B8;
}

.search-container {
  display: flex;
  gap: 130px;
}